<p id="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<div id="administrator-view">
  <%= link_to 'Adicionar novo post', new_post_path %>
  <table>
    <thead>
      <tr>
        <td>#ID</td>
        <td>Título</td>
        <td>Conteúdo</td>
        <td>Autor</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </thead>
    <tbody>
      <% @posts.each do |post| %>
          <tr>
            <td><%= post.id %></td>
            <td><%= post.title %></td>
            <td><%= post.body[0..75] %></td>
            <td><%= post.author_name %></td>
            <td><%= link_to 'Show', post %></td>
            <td><%= link_to 'Edit', edit_post_path(post) %></td>
            <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
      <% end %>
    </tbody>
  </table>
</div>
